*{
    margin:0px;
    padding:0px;

}
div#cuerpo{
    margin:auto;
    position:absolute;
    width:100%;
    height:800px;
    background-image:url(../static/fondoclima.jpg);
    background-size:100%;
    background-repeat:no-repeat;
    background-attachment:fixed;
}
div#pane1{
    margin:auto;
    position:absolute;
    width:100%;
    height:100px;
    background-color:white;
    border-bottom-left-radius:10px;
    border-bottom-right-radius:10px;
}
div#onweather{
    position:absolute;
    font: bold 130% monospace;
    left:100px;
    top:40px;
}
div#vacio{
    position:absolute;
    left:95px;
    top:45px;
}
div#texto{
    position:absolute;
    left:400px;
    top:43px;
}
div#botonlupa{
    position:absolute;
    left:227px;
    top:5px;
}
div#actual{
    margin:auto;
    position:absolute;
    top:45px;
    right:400px;
}
div#cuadro{
    margin:auto;
    margin-top:190px;
    position:absolute;
    width:800px;
    height:400px;
    left:277px;
    background-color:#fff;
    opacity:0.6;
    color:#000;
    border-radius:10px;
}
div#dato{
    margin:auto;
    margin-top:310px;
    position:absolute;
    left:50px;
    font-size:22px;
}
div#indicadores{
    margin:auto;
    margin-top:20px;
    position:absolute;
    left:50px;
    font: bold 100% monospace;
}
div#tempe{
    margin:auto;
    margin-top:180px;
    position:absolute;
    left:50px;
    font-size:100px;
}
div#cajaddatos{
    margin:auto;
    margin-top:150px;
    position:absolute;
    left:500px;
}
div#cajaddatos2{
    margin:auto;
    margin-top:234px;
    position:absolute;
    left:500px;
}
div#region{
    margin:auto;
    margin-top:80px;
    position:absolute;
    left:500px;
}
div#cajaabajo{
    margin:auto;
    margin-top:10px;
    position:absolute;
    left:37%;
    color:black;
}
div#cajaabajo2{
    margin:auto;
    margin-top:25px;
    position:absolute;
    left:45%;
    color:black;
}
div#abajo{
    margin:auto;
    margin-top:750px;
    position:absolute;
    width:100%;
    height:50px;
    background-color:#fff;
    opacity:0.5;
    color:#000;
    border-top-left-radius:10px;
    border-top-right-radius:10px;
}