<html>
<head>
    <link rel="stylesheet" type="text/css" href="../static/div.css"/>
    <link rel="shortcut icon" type="icon" href="../static/icoclima.ico"/>
    <title>OnWeather</title>
</head>
<body>
<div id="cuerpo">
        <div id="panel1">
            <div id="onweather">
                <h1><b>OnWeather</b></h1>
            </div>
            <div id="vacio">
                <form action="/">
                    <input type="image" src="../static/vacio.png" height="27px" width="200px">
                </form>
            </div>
            <div id="texto">
            <form method="POST" action="/temperatura">
                <input type="text" name="ciudad" style="font-size:19px" required="required">
                <div id="botonlupa">
                    <input type="image" src="../static/lupa.png" height="22px" width="22px">
                </div>
            </form>
            </div>
        </div>

    <div id="cuadro">
        <div id="cuadrito">
            <p><h4>Aqui podras obtener el resultado del clima de distintos lugares solo introduciendo el
            nombre del Pais o la Capital.</h4></p>
        </div>
    </div>
    <div id="abajo">
        <div id="cajaabajo">
            <p><h5><a href="https://github.com/amedina14">github.com/amedina14</a>
            & <a href="https://github.com/andrew962/ClimaApi-s">https://github.com/andrew962/ClimaApi-s</a></h5></p>
        </div>
        <div id="cajaabajo2">
            <p><h5>Copyright (c) 2017</h5></p>
        </div>
    </div>
</div>
</body>
</html>