<html>
<head>
    <link rel="stylesheet" type="text/css" href="../static/div.css"/>
    <link rel="shortcut icon" type="icon" href="../static/icoclima.ico"/>
    <title>OnWeather</title>
</head>
<body>
<div id="cuerpo">
        <div id="panel1">
            <div id="onweather">
                <h1><b>OnWeather</b></h1>
            </div>
            <div id="texto">
            <form method="POST" action="/temperatura">
                <input type="text" name="ciudad" style="font-size:19px" required="required">
                <div id="botonlupa">
                    <input type="image" src="../static/lupa.png" height="22px" width="22px">
                </div>
            </form>
            </div>
        </div>

    <div id="cuadro">

    </div>
    <div id="abajo">

    </div>
</div>
</body>
</html>